.Weather {
    padding: 20px;
    border: 1px solid rgb(131, 103, 103);
    border-radius: 6px;
    background: radial-gradient(
      328px at 2.9% 15%,
      rgb(191, 224, 251) 0%,
      rgb(232, 233, 251) 25.8%,
      rgb(252, 239, 250) 50.8%,
      rgb(234, 251, 251) 77.6%,
      rgb(240, 251, 244) 100.7%
    );
  }
  
  .Weather .overview {
    margin-bottom: 20px;
  }
  
  .Weather .weather-temperature img {
    margin-right: 10px;
    height: 74px;
    width: 74px;
  }
  
  .Weather .weather-temperature strong {
    color: blueviolet;
    font-size: 62px;
    font-weight: 400;
    line-height: 1;
  }
  
  .Weather .weather-temperature .units {
    position: relative;
    font-size: 20px;
  }
  
  .Weather .temperature {
    font-size: 60px;
  }
  
  .Weather .weather-forecast {
    margin-top: 20px;
    text-align: center;
  }
  
  .Weather .weather-forecast-date {
    font-size: 22px;
  }
  
  .weather-forecast-temperature-min {
    opacity: 0.5;
  }
  .Weather .weather-forecast-temperatures {
    font-size: 20px;
  }
  