body {
  padding: 40px;
  font-family: monospace;
  margin-right: 100px;
  margin-left: 100px;
  box-shadow: 5px  #dac9e1;

}

.Weather {
  padding: 30px;
  border: 6px solid #4f0977;
  border-radius: 50px;
 
}

a {
  color: #9e4dc1;

}

header {
  border-bottom: 1px solid #bbe4e9;
  padding: 0 0 30px 0;
}

main {
  padding: 50px 0;
}
.weather-data {
  display: grid;
  justify-content: center;
}

.weather-city {
  
  color: #45145a;
  margin: 0;
  padding: 20px;
  font-size: 45px;
 
  line-height: 48px;
  text-align: center;
}

.weather-details {
  font-size: 16px;
 
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-align: center;
}

.weather-details strong {
  color: #8b30b2;
  
}

.weather-temp-data {
  display: flex;
  justify-content: center;

}

.weather-icon {
  font-size: 50px;
  line-height: 30px;
}

.weather-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.temperature-unit {
  margin-top: 20px;
  font-size: 30px;
}
footer {
  border-top: 1px solid #9e4dc1;;
 
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: black;
}



