.form-city {
  background-color: #fae6fb;
  border: none;
  border-radius: 30px;
  width: 80%;
  padding: 15px 20px;
  font-size: 18px;
}
.form-button {
  background-color: #7d57a1;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  margin-left: 6px;
}