.Weather {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
line-height: 30px;

  padding: 30px;
  border-radius: 8px;
  color:#7c47c0;
    
  }

  .Weather h1 {
    color:#7c47c0;
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0 0 0;
    line-height: 40px;

    
  }
  
  .btn {
    color: white;
    background-color: #7c47c0;
    border-color:#7c47c0;
  }

  
.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(71, 13, 120);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: #7c47c0;
  font-size: 26px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}


